extends layout.pug

block content
  h1 Создать пользователя
  
  form(action="/users", method="POST")
    div
      label Имя:
      input(type="text", name="name", required)
    div
      label Email:
      input(type="email", name="email", required)
    div
      button(type="submit") Создать