doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    title Users App
  body
    nav
      a(href="/users") Список пользователей
      |  | 
      a(href="/users/create") Создать пользователя
    hr
    block content